/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form {
  display: flex;
  flex-direction: column;
  text-align: left;
  font-size: xx-large;
  margin: 20px;
  padding: 10px;
}

.form label {
  margin-top: 10px;
  font-weight: bold;
}

.form input {
  font-size: x-large;
  padding: 5px;
}

.form button {
  font-size: x-large;
  margin-top: 40px;
}